{% extends 'base.html' %}

{% block content %}
<section id="goal">
    <h2>Our Goal <i class="fa-solid fa-earth-europe"></i></h2>
</section>
<section id="welcome">
    <p>Welcome to the Wildlyfe nature blog! Our goal here is to provide a fun and engaging website for those
        who are interested in nature, animals, and wild parts of our planet. Take part, engage, 
        make posts, comments, meet others with a similar interest. We hope you love your time here!
        If you are interested in being kept upto date on all the latests posts please free to 
        subscribe to our weekly news letter!</p>
</section>
{% endblock %}