{% extends 'base.html' %}

{% block content %}
<section id="goal">
    <h2>Our Goal <i class="fa-solid fa-earth-europe"></i></h2>
</section>
<section id="welcome">
    <p>Welcome to the one and only Zoo and conservation in kerry.
        Located in the beautiful town of Tralee with ample parking 
        and amenities located on sight, our animals have been the wonder 
        and delight to all visitors since 1969. Jump into the wild and
        meet our vast range of animals from across the globe, from gorillas to
        Cheetah, and elephants to meerkats. Learn about how these creatures
        live in the wild and our conservation efforts to help save endangered
        species. Whether it's a family day out, a school class,
        or a group of friends we offer something for everyone.
    </p>
</section>

{% endblock %}